---
permalink: site.webmanifest
---
{
  "short_name": "{{ website.shortTitle }}",
  "name": "{{ website.title }}",
  "icons": [{
    "src": "icon.png",
    "type": "image/png",
    "sizes": "192x192"
  }],
  "start_url": "/?utm_source=homescreen",
  "background_color": "{{ website.themeColor }}",
  "theme_color": "{{ website.themeColor }}"
}
