---
permalink: sitemap.xml
---
{# See https://www.11ty.dev/docs/dates/ for information on how "page.date" is derived. #}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
      <loc>{{ pkg.websiteMetadata.baseUrl }}{{ page.url }}</loc>
      <lastmod>{{ page.date }}</lastmod>
    </url>
  {% endfor %}
</urlset>
