<footer>
  <div class="bg-black px-6 lg:px-0">
    <div class="max-w-4xl mx-auto py-8">
      <div class="md:flex items-center">
        <div class="pb-4 md:pb-0">
          <a href="http://www.christschapel.net" class="block">
            <img class="h-10 mx-auto md:mx-0" src="{{ "/christs-chapel-logo.png" | url }}" alt="Logo for Christ's Chapel"/>
          </a>
        </div>
        <div class="md:flex-grow">
          <div class="text-center md:text-right text-white">
            <div>
              <a class="hover:underline" href="{{ website.phone | telephoneLink }}">
                {{ website.phone }}
              </a>
            </div>
            <div>
              <a class="hover:underline" href="mailto:{{ website.email }}">
                {{ website.email }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
