<header>
  <div class="mx-auto bg-gray-100 px-6 py-2 lg:px-0">
    <div class="max-w-4xl mx-auto">
      <div class="flex items-center">
        <a href="{{ "/" | url }}" class="flex items-baseline justify-left text-2xl text-red-700">
          <img class="h-20" src="{{ website.logo }}" alt="Rooms With Love logo"/>
        </a>
        <div class="hidden flex-grow md:block">
          <nav>
            <ul class="flex gap-x-4 justify-end text-red-700 relative top-2">
              <li><a href="/#about-us" class="font-serif hover:underline">About us</a>
              <li><a href="/#items-needed" class="font-serif hover:underline">Items needed</a>
              <li><a href="/#how-to-donate" class="font-serif hover:underline">How to donate</a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
