<header>
  <div class="border-b border-gray-300 bg-white">
    <div class="mx-auto px-6 py-2 lg:px-0">
      <div class="max-w-4xl mx-auto">
        <div class="flex items-center">
          <a href="{{ "/" | url }}" class="flex items-baseline justify-left text-2xl text-red-700">
            <img class="h-20" src="{{ website.logo }}" alt="Rooms With Love logo"/>
          </a>
          <div class="hidden flex-grow md:block">
            <nav>
              <ul class="flex justify-end relative top-2">
                {% for navbarItem in navbar %}
                  <li>
                    <a href="{{ navbarItem.link | safe }}" class="font-serif text-red-700 hover:underline">
                      {{ navbarItem.text }}
                    </a>
                    {% if loop.last == false %}
                      <span aria-presentation="true" class="mx-2 text-red-300">|</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="md:hidden px-12 text-red-700 bg-gray-100 py-4">
      <ul>
        {% for navbarItem in navbar %}
          <li class="block my-1">
              <a href="{{ navbarItem.link | safe}}" class="font-serif hover:underline">
                {{ navbarItem.text }}
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
