{% set fullTitle %}{{ title }} | {{ website.title }}{% endset %}
{% set fullUrl %}{{ page.url }} | {{ website.baseUrl }}{% endset %}
<head>
  <meta charset="utf-8">

  <title>{{ fullTitle }}</title>

  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ fullTitle }}">
  <meta property="og:url" content="{{ fullUrl }}">

  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ "/tile.png" | url }}">

  <link rel="manifest" href="{{ "/site.webmanifest" | url }}">
  <link rel="apple-touch-icon" href="{{ "/icon.png" | url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | url }}" />

  <link rel="stylesheet" href="{{ "/style/main.css" | url }}">
  <meta name="theme-color" content="{{ website.themeColor }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
