<!doctype html>
<html lang="en-US" class="h-screen bg-black">
{% include 'head.njk' %}
<body class="bg-white">

{% include 'header.njk' %}

<div class="max-w-4xl mx-auto">
  <div class="py-16 xl:py-16 px-6 sm:px-12">
    <h1 class="font-serif text-left text-4xl lg:text-5xl font-medium mb-6">
      {{ title  }}
    </h1>
    {% if picture %}
      <img src="{{ picture.file | safe }}" alt="{{ picture.description }}"
        class="md:float-right md:max-w-sm md:ml-12 md:mb-12"/>
    {% endif %}
    <div class="prose prose-lg">
      {{ content | safe }}
    </div>
  </div>
</div>

{% include 'footer.njk' %}

</body>
</html>
